nav {
    position: fixed;
    top : 0;
    display : flex;
    align-content: flex-start;
    height: 10vh;
    width: 100vw;
    background-color: greenyellow;
}

img { 
    width : 120px;
    padding: 10px;
}

ul {
    margin-top: 1.6rem;
    border-color: brown;
    margin-left: 20px;
    height: 10vh;
    list-style: none;
    
}
 li {
    font-size: 1.5rem;
    padding-right: 2rem;
    width: 20px;
    list-style: none;
    display:inline-table;
    
}
